# ====== 模型配置 ======
# OpenAI API 配置 (可选，用于云模型)
OPENAI_API_KEY=xxx
OPENAI_MODEL=xxx
OPENAI_API_BASE=xxx

# Embedding 模型配置
Embedding_API_KEY = xxx
Embedding_model = xxx
Embedding_API_BASE = xxx

# Tavily Key(用于清洗搜索数据)
TAVILY_API_KEY=your_tavily_api_key_here